.venv/
.venv_labelme/
venv_gtk/
venv_gtk_release/
venv_release_win/
experiments/
build/
dist/
.idea/
.flatpak-builder/
build_flatpak/
build_gtk/
build_gtk_release/
torch_compile_debug/
__pycache__/
*.egg-info/
*.pth
*.pt
*.onnx
*.pyc
*.mo
*.ep
GEMINI.md
lada_dual_gpu*